.title{
  font-weight: bold;
}
ion-label{
  font-weight: bold;
}
#bottom-bar
{
  position: absolute;
  width: 120px;
  height: 3px;
  left: 90px;
  top: 125px;
  background: #07AEEF;
  box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
  border-radius: 40px;
}
